BettingAppWeb/Connected Services/SportService/SportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BettingAppWcf.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BettingAppWcf.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sport" nillable="true" type="tns:Sport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSport" nillable="true" type="tns:ArrayOfSport" />
  <xs:complexType name="Sport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SportID" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sport" nillable="true" type="tns:Sport" />
</xs:schema>