BettingAppWeb/Connected Services/SportService/SportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61477/Services/SportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BettingAppWcf.Models" />
  <xs:element name="GetSportsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BettingAppWcf.Models" minOccurs="0" name="GetSportsListResult" nillable="true" type="q1:ArrayOfSport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BettingAppWcf.Models" minOccurs="0" name="GetSportByIdResult" nillable="true" type="q2:Sport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BettingAppWcf.Models" minOccurs="0" name="sport" nillable="true" type="q3:Sport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BettingAppWcf.Models" minOccurs="0" name="sport" nillable="true" type="q4:Sport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistSportByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistSportByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistSportByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BettingAppWcf.Models" minOccurs="0" name="GetSportByNameResult" nillable="true" type="q5:Sport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>