BettingAppWeb/Connected Services/SportService/SportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61477/Services/SportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61477/Services/SportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61477/Services/SportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BettingAppWcf.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISportService_GetSportsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSportsList" />
  </wsdl:message>
  <wsdl:message name="ISportService_GetSportsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSportsListResponse" />
  </wsdl:message>
  <wsdl:message name="ISportService_GetSportById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSportById" />
  </wsdl:message>
  <wsdl:message name="ISportService_GetSportById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSportByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISportService_AddSport_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSport" />
  </wsdl:message>
  <wsdl:message name="ISportService_AddSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSportResponse" />
  </wsdl:message>
  <wsdl:message name="ISportService_RemoveSport_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSport" />
  </wsdl:message>
  <wsdl:message name="ISportService_RemoveSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSportResponse" />
  </wsdl:message>
  <wsdl:message name="ISportService_UpdateSport_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSport" />
  </wsdl:message>
  <wsdl:message name="ISportService_UpdateSport_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSportResponse" />
  </wsdl:message>
  <wsdl:portType name="ISportService">
    <wsdl:operation name="GetSportsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportService/GetSportsList" message="tns:ISportService_GetSportsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportService/GetSportsListResponse" message="tns:ISportService_GetSportsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSportById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportService/GetSportById" message="tns:ISportService_GetSportById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportService/GetSportByIdResponse" message="tns:ISportService_GetSportById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportService/AddSport" message="tns:ISportService_AddSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportService/AddSportResponse" message="tns:ISportService_AddSport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportService/RemoveSport" message="tns:ISportService_RemoveSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportService/RemoveSportResponse" message="tns:ISportService_RemoveSport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSport">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportService/UpdateSport" message="tns:ISportService_UpdateSport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportService/UpdateSportResponse" message="tns:ISportService_UpdateSport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISportService" type="tns:ISportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSportsList">
      <soap:operation soapAction="http://tempuri.org/ISportService/GetSportsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSportById">
      <soap:operation soapAction="http://tempuri.org/ISportService/GetSportById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSport">
      <soap:operation soapAction="http://tempuri.org/ISportService/AddSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSport">
      <soap:operation soapAction="http://tempuri.org/ISportService/RemoveSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSport">
      <soap:operation soapAction="http://tempuri.org/ISportService/UpdateSport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SportService">
    <wsdl:port name="BasicHttpBinding_ISportService" binding="tns:BasicHttpBinding_ISportService">
      <soap:address location="http://localhost:61477/Services/SportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>